<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS</title>
    <script src="vue.js"></script>
    <style>
        .loop-values{
            display: inline-block;
            width: 45px;
        }
    </style>
</head>
<body>
    <div id="app">
       <ul>
           <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i }})</li>
       </ul>
       <template v-for="(ingredient, index) in ingredients">
           <h1>{{ ingredient }}</h1>
           <p>{{ index }}</p>
       </template>
       <button @click="ingredients.push('spices')">Add New</button>
       <hr>
       <ul>
           <li v-for="person in persons">
               {{  person.name }}
           </li>
       </ul>
       <ul>
        <li v-for="person in persons">
                <div v-for="(value, key, index) in person">
                    <span class="loop-values"><b>{{ key }}:</b></span>
                     <span class="loop-values">{{ value }}</span>
                     <span class="loop-values">({{ index }})</span>
                    </div>
        </li>
    </ul>
    <span v-for="n in 10">{{n}}</span>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [
                    {name: "Max", age: 27, color: "red"},
                    {name: "Zain", age: 26, color: "blue"},
                ]
            }
        });
    </script>
</body>
</html>